{% extends 'base.html' %}

{% block page_content %}
<div style="padding-left: 100px; padding-right: 100px; font-size: medium;">
    <div>
        <h1>About Me</h1>
        <p>
            My name is Armin Ronacher and I'm a passionate developer interested in web development, graphics, realtime rendering and tons of other stuff. I am one of the founding members of the Pocoo Team and lead developer on a couple of popular Python projects.</p>
        <p>
            I'm currently located in Austria and working as a Director of Engineering for Sentry. Aside from that I do open source development and like giving talks at various conferences and create Open Source software. If you want to support my work consider sponsoring me on GitHub.
        </p>
        <p>
            If you want to contact me, you can reach me via one of the following communication channels:
        </p>
        <ul>
            <li>via <a class="text-danger">email</a></li>
            <li>find me on <a class="text-danger">github</a></li>
            <li>reach out to me on <a class="text-danger">twitter</a></li>
        </ul>
        <p>My usual nickname is <i>mitsuhiko</i>.</p>
        <h1>Like my Work?</h1>
        <p>
            All of the open source stuff I work on is BSD licensed which means you can do with it whatever you want.
        </p>
        <p>
            I'm currently not available for consulting or contract work, but you can support my work via GitHub sponsors.
        </p>
        <h1>About this Website</h1>
        <p>The name of this website came when a friend of mine and me were joking about what makes a great web 2.0 website. We came up with three things: it has to have round corners, fresh colors and a weirdly shortened name. So the first version of this blog was green, named after a fresh fruit (lucuma) and with a destroyed, abbreviated name. Not much is left from these days, but the name stuck.</p>
        <p>The website itself is written in restructured text and built with a small script. Sourcecode can be <a class="text-danger">found on github</a>.</p>
        <h1>Imprint</h1>
        <p>Imprint and contact information:<br>
            Armin Ronacher<br>
            Handelskai 132a/1/46; 1020 Vienna; Austria<br>
            VAT number / UID: AT U68598289<br>
            Contact e-mail: <a class="text-danger">armin.ronacher@active-4.com</a>
        </p>
    </div>
</div>
{% endblock %}