{% extends 'base.html' %}

{% block page_content %}
<div style="padding-left: 100px; padding-right: 100px; font-size: medium;">
    <div>
        <h1>Talks</h1>
        <p>A non-complete list of talks I gave starting with 2009 and links to slides and recordings if available.</p>
        <h1>2022</h1>
        <ul>
            <li><a href="#" class="text-danger">The Snowball Effect of Open Source</a> @ WeAreDevelopers World Congress Berlin (recording, PDF)</li>
            <li><a href="#" class="text-danger">Mobile Games are Living Organisms Too</a> @ GDC 2022 (PDF)</li>
        </ul>
        <h1>2019</h1>
        <ul>
            <li><a href="#" class="text-danger">We gave a Mouse an NDK: Non Android Developers' Experience with NDK</a> @ Droidcon 2019 (recording, PDF)</li>
            <li><a href="#" class="text-danger">Debug is the new Release</a>@ PyCon China 2019 (PDF)</li>
        </ul>
        
    
    
    </div>
</div>
{% endblock %}